<p id="notice"><%= notice %></p>
<div class="text-­warning">
	<h2>
	  <code>email:</code>
	  <mark><%= @user.email %></mark>
	</h2>
</div>

<%= link_to 'Edit', edit_user_path(@user), :class=> "btn btn-lg" %> |
<%= link_to 'Back', users_path, :class=> "btn btn-lg" %>
